attrs==20.3.0
blessings==1.7
distro==1.5.0
iniconfig==1.1.1
marionette-driver==3.1.0
mozdevice==4.0.3
mozfile==2.1.0
mozinfo==1.2.2
mozlog==7.1.0
mozprocess==1.2.1
mozprofile==2.5.0
mozrunner==8.1.0
mozterm==1.0.0
mozversion==2.3.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
six==1.15.0
toml==0.10.2
